{% block footer %}
    <nav class="navbar-fixed-bottom footer-fixed">
    <div class="container-unterschrift hidden-xs">
        <div class="navbar-left">Icons made by <a href="https://www.freepik.com" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <ul class="cred-list list-inline">
          <li class="list-group">
              <img src="../../static/images/bootstrap-icons/icons/github.svg" width="15" height="15" alt="git">
              <a href="/">piotrek</a>
          </li>
          <li class="list-group">
              <img src="../../static/images/bootstrap-icons/icons/github.svg" width="15" height="15" alt="git">
              <a href="/">mateusz</a>
          </li>
          <li class="list-group">
              <img src="../../static/images/bootstrap-icons/icons/github.svg" width="15" height="15" alt="git">
              <a href="/">mati</a>
          </li>
      </ul>
    </div>
    </nav>
{% endblock %}