{% block header %}
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <span><img src="../../static/images/games.png" width="32" height="32"></span>
                            GamerHUB
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/announcement/1">Ogłoszenia</a></li>
                            {%  if current_user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="/announce">Dodaj ogłoszenie</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="/register">Rejestracja</a></li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav navbar-right list-inline">
                            {%  if current_user.is_authenticated %}
                                <li class="list-inline-item nick"><a href="/user/{{ current_user.username }}/1">{{ current_user.username }}</a> </li>
                                <li class="list-inline-item logout">
                                    <a href="/logout"><img width="20" height="20" alt="sign out" src="../../static/images/bootstrap-icons/icons/door-open.svg"></a>
                                </li>
                            {% else %}
                                <li class="list-inline-item">
                                    <a href="/login">
                                        <img  class="login-icon" alt="Login" src="../../static/images/bootstrap-icons/icons/box-arrow-in-right.svg"
                                data-toggle="tooltip" data-placement="bottom" title="login">
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
{% endblock %}